# Ignore log files and storage
storage/logs/*
storage/app/public/*
storage/framework/*
bootstrap/cache/*.log

# Ignore environment files
.env
.env.example

# Ignore node_modules and vendor
node_modules/
vendor/

# Ignore build & cache files
npm-debug.log
yarn-error.log
public/hot
public/storage
database/database.sqlite
*.sql

# Ignore Git & IDE files
.git
.github/
.vscode/
.idea/
